html {
  font-size: 13px;
  font-family: 'Quantico', sans-serif;
}

h1 {
  font-size: 65px;
  text-align: center;
}

h2 {
  font-size: 30px;
  text-align: center;
}

p, li {
  font-size: 16px;
  line-height: 2;  
  letter-spacing: 3px;
}
.text-center{
  text-align: center;
}

html {
  background-color: #FC4B08;
}

body {
  width: 605px;
  margin: 0 auto;
  background-color: #F7E89F;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #ff801d;
  text-shadow: 6px 6px 3px blue;
}

img {
  display: block;
  margin: 0 auto;
}
